/CIC2018
/CML.py
/DAPT-2020
/FedAVG.py
/NSL-KDD
/RNEP.py
/__pycache__
/arguments.py
/avg
/cache_gpu.py
/client.txt
/cml
/dataset.py
/initial_weight.h5
/initial_weight_v1.h5
/initial_weight_v2.h5
/kaggle.json
/lanl_auth_data
/lanl_auth_data_extracted
/logdata_download.py
/model.py
/model_dapt.py
/rnep
/test.py
/utils.py*.h5
KDD99/KDD99_encoded.csv
*.csv
